<h1>Add Points</h1>
<%= form_tag add_multiple_points_path, method: :put do %>
  <table class="table table-striped table-condensed" >
    <tr>
      <th></th>
      <th>Name</th>
      <th>Description</th>
      <th>Points</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @activities.each do |activity| %>
    <tr>
      <td><%=check_box_tag "activity_ids[]", activity.id %></td>
      <td><%= activity.name %></td>
      <td><%= activity.description %></td>
      <td><%= activity.activity_xp %></td>
      <td><%= link_to 'Show', activity %></td>
      <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
      <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>
  <%= submit_tag "Add Points for Selected Activities" %>
<% end %>