<%= simple_form_for(@reward) do |f| %>
  <%= f.input :name %>
  <%= f.input :description, :input_html => { :rows => 3 } %>
  <%= f.input :xp_cost %>
  <%= f.input :active %>
  <%= f.submit "Update Reward", class: 'btn btn-success' %>
<% end %>
<p><%= link_to 'Destroy', @reward, method: :delete, data: { confirm: 'Deleting this reward will add back all points previously spent for this reward. Are you sure?' } %></p>

