<h1>Rewards</h1>

<table class="table table-striped table-condensed" >
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>XP Cost</th>
    <th></th>
  </tr>

<% @rewards.each do |reward| %>
  <tr>
    <td><%= reward.name %></td>
    <td><%= reward.description %></td>
    <td><%= reward.xp_cost %></td>
    <td>
      <% if current_user && current_user.admin? %> 
        <%= link_to 'Edit', edit_reward_path(reward), class: 'btn btn-small' %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<p>
  <% if current_user && current_user.admin? %> 
    <%= link_to 'New Reward', new_reward_path, class: 'btn btn-success' %>
  <% end %>
</p>
<br />

<h4>Archived Rewards</h4>
<table class="table table-striped table-condensed" >
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>XP Cost</th>
    <th></th>
  </tr>

<% @archived.each do |reward| %>
  <tr>
    <td><%= reward.name %></td>
    <td><%= reward.description %></td>
    <td><%= reward.xp_cost %></td>
    <td>
      <% if current_user.admin? %> 
        <%= link_to 'Edit', edit_reward_path(reward), class: 'btn btn-small' %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
