<h1>Players</h1>

<table class="table table-striped table-condensed" >
  <tr>
    <th><%= sortable "name" %></th>
    <th><%= "Current Pts" %></th>
    <th><%= sortable "xp", "Total Earned" %></th>
    <th><%= sortable "xp_used", "Total Spent" %></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <% if user.role == "Player"%>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.xp - user.xp_used unless user.xp_used.nil? %></td>
      <td><%= user.xp %></td>
      <td><%= user.xp_used %></td>
      <td>
        <% if user.id == current_user.id || current_user.role == "Admin" %>
          <%= link_to 'Show', user, class: 'btn btn-primary btn-small' %> 
          <%= link_to 'Edit', edit_user_path(user), class: 'btn btn-small' %>
        <% end %>
        <% if current_user.role == "Admin" %>
          <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-small' %>
        <% end %>
      </td>
    </tr>
  <% end %>
<% end %>
</table>

<br />

<% if current_user.role == "Admin" %>
  <table class="table table-striped table-condensed" >
    <tr>
      <th>Username</th>
      <th>Role</th>
      <th></th>
    </tr>

  <% @users.each do |user| %>
    <% if user.role != "Player" %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.role %></td>
        <td>
            <%= link_to 'Show', user, class: 'btn btn-primary btn-small' %> 
            <%= link_to 'Edit', edit_user_path(user), class: 'btn btn-small' %>
            <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-small' %>
        </td>
      </tr>
    <% end %>
  <% end %>
  </table>
<% end %>
<br />
<p>
  <% if current_user.role != "Player" %>
    <%= link_to 'New User', new_user_path, class: 'btn btn-success' %>
  <% end %>
</p>

