<div class="hero-unit">
  	<h1><%= @user.name %></h1>
  	<p>Created <%= time_ago_in_words(@user.created_at) %> ago</p>

  	<div class="progress" style="width: 100%; height:1.5em;">
		<div class="bar bar-success" style="width: 100%;">Total Earned: <%= @user.xp %> pts</div>
	</div>
  	<div class="progress" style="width: 100%; height:1.5em;">
		<div class="bar bar-danger" style="width: <%= 100.0 - (@user.xp - @user.xp_used) * 100.0 / @user.xp %>%;">Total Spent: <%= @user.xp_used %> pts</div>
		<div class="bar bar-info" style="width: <%= (@user.xp - @user.xp_used) * 100.0 / @user.xp %>%;">Remaining: <%= @user.xp - @user.xp_used %> pts</div>
	</div>
	<%= link_to 'Add Points', new_point_path(user_id: params[:id]), class: 'btn btn-success' %> 
	<%= link_to 'Spend Points', new_points_spent_path(user_id: params[:id]), class: 'btn btn-danger' %>
</div>

<div class="row">
	<div class="span4">
		<div class="well">
			<h4>Earned (Last 24 hrs)</h4>
			<% @points_feed.each do |point|%>
			<p>
				<%= point.activity.name %> (<%= point.activity.activity_xp %>)<br /> -- <em style="font-size:80%;"><%= time_ago_in_words(point.updated_at) %> ago</em>
			</p>
			<% end %>
		</div>
	</div>
	<div class="span4">
		<div class="well">
			<h4>Available Points</h4>
			
		</div>
	</div>
	<div class="span4">
		<div class="well">
			<h4>Spent (Last 7 Days)</h4>

			<% @points_spent_feed.each do |points_spent|%>
			<p>
				<%= points_spent.reward.name %> (<%= points_spent.reward.xp_cost %>)<br /> -- <em style="font-size:80%;"><%= time_ago_in_words(points_spent.updated_at) %> ago</em>
			</p>
			<% end %>
		</div>
	</div>
</div>

