<%= simple_form_for @activity, html: {class: "form-inline"} do |f| %>
  <%= f.input :name %>
  <%= f.input :description, :input_html => { :rows => 3 } %>
  <%= f.input :activity_xp, label: "Points Earned" %>
  <%= f.input :active %>
  <%= f.submit "Save Activity", class: 'btn btn-success' %>
<% end %>
<p><%= link_to 'Destroy', @activity, method: :delete, data: { confirm: 'Deleting this activity will remove all points previously earned for this activity. Are you sure?' } %></p>

