<!DOCTYPE html>
<html>
<head>
  <title>Shah Family Game</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <ul class="nav pull-right ul-padding">
            <li><%= link_to "Players", users_path %></li>
            <li><%= link_to "Activities", activities_path %></li>
            <li><%= link_to "Rewards", rewards_path %></li>
          </ul>
        </div>
      </nav>
    </header>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <% flash.each do |key, value| %>
                <div class="alert alert-<%= key %>"><%= value %></div>
              <% end %>
      				<%= yield %>
              <%= debug(params) if Rails.env.development? %>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
</body>
</html>
